<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Principal</title>
<link rel="stylesheet" type="text/css" href="/css/principal.css">
</head>
<body>
	<header>
        <nav>
            <a href="#" class="logo">Valhalla</a>
            <div class="nav-search">
                <input type="search" placeholder="Buscar" class="search-bar">
            </div>
            <div class="mobile-menu">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
            <ul class="nav-list">
                <li><a href="#">Amigos</a></li>
                <li><a href="#">Chats</a></li>
                <li><a href="#">Hastags</a></li>
                <li><a href="#">Sobre</a></li>
                <li><a href="/logout">Sair</a></li>
            </ul>
        </nav>
    </header>
    <main>
		<form th:action="@{/salvarPublicacao}" method="post" th:object="${publi}">
			<input type="hidden" th:field="*{id}"/>
   			<div class="textfield">
				<label th:for="texto"></label>
	           	<input type="text" th:field="*{texto}" class="pub-text" placeholder="Faça uma publicação..." required="required">
	           	<button type="submit" class="btn-pub">SALVAR</button>
            </div>
        </form>
    </main>
    <script type="text/javascript" src="/js/mobile-navbar.js"></script>
</body>
</html>