<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Principal</title>
<link rel="stylesheet" type="text/css" href="/css/principal.css">
</head>
<body>
	<header>
        <nav class="navbar">
            <a href="paginaPrincipal" class="logo">Valhalla</a>
            <form action="/pesquisarPorUsuario" method="post" class="form-nav">
				<div class="">
					<input type="text" class="search-bar" id="parametro" placeholder="Pesquise algo..." name="parametro">
					<button type="submit" class="btn-search">
						<i class="">Pesquisar</i>
					</button>
				</div>
			</form>
            <div class="mobile-menu">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
            <ul class="nav-list">
                <!-- <li><a href="#">Amigos</a></li>
                <li><a href="#">Chats</a></li>
                <li><a href="#">Hastags</a></li>
                <li><a href="#">Sobre</a></li> -->
                <li><a href="/logout" class="sair">Sair</a></li>
            </ul>
        </nav>
    </header>
    <main>
    	<div class="usuario">	
	    	<h2 id="bv">Bem Vindo(a)</h2>
	    	<h2>,</h2>
			<h2 th:text="${usuario.nomeUsuario}" id="user"></h2>
		</div>
		<form th:action="@{/salvarPublicacao}" method="post" th:object="${publi}">
   			<div class="textfield">
				<label th:for="texto"></label>
	           	<input type="text" th:field="*{texto}" class="pub-text" placeholder="Faça uma publicação..." required="required">
	           	<button type="submit" class="btn-pub">PUBLICAR</button>
            </div>
        </form>
        <h1>Lista por Usuario</h1>
        <table class="table-publi" border="1px">
		  	<tr class="acoes">
			  	<th>Usuario</th>
			  	<th>Data de Postagem</th>
				<th>Mensagem</th>
				<th>Ações</th>
		  	</tr>
			  <tr th:each="publi : ${listaUsuario}" class="dados">
			  	<td th:text="${publi.user.nomeUsuario}"></td>
		  		<td th:text="${publi.dataPublicacao}"></td>
				<td th:text="${publi.texto}"></td>
				<td class="td-deldt">
					<div th:if="${publi.user.id == usuario.id}" class="del-edt">
			     		<a th:href="@{/editarPublicacao(id=${publi.id})}">Editar</a>
			     		<a th:href="@{/removerPublicacao(id=${publi.id})}">Remover</a>
			     	</div>
			     	<div th:if="${publi.user.id != usuario.id}" class="spam">	
			     	<p>Sem permissão!</p>
			     	</div>		 	
			 	</td>
		  	</tr>
		</table>		
		<h1>Lista por Publicação</h1>
		<table class="table-publi" border="1px">
		  	<tr class="acoes">
			  	<th>Usuario</th>
			  	<th>Data de Postagem</th>
				<th>Mensagem</th>
				<th>Ações</th>
		  	</tr>
			  <tr th:each="publi : ${listaPublicacao}" class="dados">
			  	<td th:text="${publi.user.nomeUsuario}"></td>
		  		<td th:text="${publi.dataPublicacao}"></td>
				<td th:text="${publi.texto}"></td>
				<td class="td-deldt">
					<div th:if="${publi.user.id == usuario.id}" class="del-edt">
			     		<a th:href="@{/editarPublicacao(id=${publi.id})}">Editar</a>
			     		<a th:href="@{/removerPublicacao(id=${publi.id})}">Remover</a>
			     	</div>
			     	<div th:if="${publi.user.id != usuario.id}" class="spam">	
			     	<p>Sem permissão!</p>
			     	</div>		 	
			 	</td>
		  	</tr>
		</table>       
    </main>
    <script type="text/javascript" src="/js/mobile-navbar.js"></script>
</body>
</html>