<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Principal</title>
<link rel="stylesheet" type="text/css" href="/css/principal.css">
</head>
<body>
	<header>
        <nav class="navbar">
            <a href="paginaPrincipal" class="logo">Valhalla</a>
            <form action="/pesquisarPorUsuario" method="post" class="form-nav">
				<div class="">
					<input type="text" class="search-bar" id="parametro" placeholder="Pesquise algo..." name="parametro">
					<button type="submit" class="btn-search">
						<i class="">Pesquisar</i>
					</button>
				</div>
			</form>
            <div class="mobile-menu">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
            <ul class="nav-list">
                <!-- <li><a href="#">Amigos</a></li>
                <li><a href="#">Chats</a></li>
                <li><a href="#">Hastags</a></li>
                <li><a href="#">Sobre</a></li> -->
                <li><a href="/logout" class="sair">Sair</a></li>
            </ul>
        </nav>
    </header>
    <main>
    	<div class="usuario">	
	    	<h2 id="bv">Bem Vindo(a)</h2>
	    	<h2>,</h2>
			<h2 th:text="${usuario.nomeUsuario}" id="user"></h2>
		</div>
		<form th:action="@{/salvarPublicacao}" method="post" th:object="${publi}">
   			<div class="textfield">
				<label th:for="texto"></label>
	           	<input type="text" th:field="*{texto}" class="pub-text" placeholder="Faça uma publicação..." required="required">
	           	<button type="submit" class="btn-pub">PUBLICAR</button>
            </div>
        </form>
		     
    </main>
    <script type="text/javascript" src="/js/mobile-navbar.js"></script>
</body>
</html>