<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Principal</title>
<link rel="stylesheet" type="text/css" href="/css/principal.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!-- Tema opcional -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<!-- Última versão JavaScript compilada e minificada -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
	<header>
        <nav class="navbar">
            <a href="#" class="logo">Valhalla</a>
            
            <form action="/pesquisarPorUsuario" method="post">
				<div class="form-inline">
					<input type="text" class="form-control" id="parametro"
						placeholder="Pesquise pelo nome do usuario" name="parametro" size="50" autofocus >
					<button type="submit" class="btn btn-primary">
						<i class="fa fa-search" style="font-size: 20px">Pesquisar</i>
					</button>
				</div>
			</form>
            <div class="mobile-menu">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
            <ul class="nav-list">
                <!-- <li><a href="#">Amigos</a></li>
                <li><a href="#">Chats</a></li>
                <li><a href="#">Hastags</a></li>
                <li><a href="#">Sobre</a></li> -->
                <li><a href="/logout">Sair</a></li>
            </ul>
        </nav>
    </header>
    <main>
    	<h2>Bem Vindo(a)</h2>
		<h2 th:text="${usuario.nomeUsuario}"></h2>
		<form th:action="@{/salvarPublicacao}" method="post" th:object="${publi}">
   			<div class="textfield">
				<label th:for="texto"></label>
	           	<input type="text" th:field="*{texto}" class="pub-text" placeholder="Faça uma publicação..." required="required">
	           	<button type="submit" class="btn-pub">PUBLICAR</button>
            </div>
        </form>
        
            <h1>Lista por Usuario</h1>
            <table class="table table-dark">
			  <tr>
			  	<th>Usuario</th>
			  	<th>Data de Postagem</th>
				<th>Mensagem</th>
				<th>Curtidas</th>
				<th>Ações</th>
			  </tr>
			  <tr th:each="publi : ${listaUsuario}">
			  	<td th:text="${publi.user.nomeUsuario}"></td>
		  		<td th:text="${publi.dataPublicacao}"></td>
				<td th:text="${publi.texto}"></td>
				<td th:text="${publi.curtida}"></td>
				<td>
					<div th:if="${publi.user.id == usuario.id}">
			     		<a th:href="@{/editarPublicacao(id=${publi.id})}">Editar</a>
			     		<a th:href="@{/removerPublicacao(id=${publi.id})}">Remover</a>
			     	</div>
			     	<div th:if="${publi.user.id != usuario.id}">	
			     	<p>Você não tem permissão para acessar as ações de outro usuário!</p>
			     	</div>		 	
			 	</td>
		  	</tr>
			</table>
			
			<h1>Lista por Publicação</h1>
            <table class="table table-dark">
			  <tr>
			  	<th>Usuario</th>
			  	<th>Data de Postagem</th>
				<th>Mensagem</th>
				<th>Curtidas</th>
				<th>Ações</th>
			  </tr>
			  <tr th:each="publi : ${listaPublicacao}">
			  	<td th:text="${publi.user.nomeUsuario}"></td>
		  		<td th:text="${publi.dataPublicacao}"></td>
				<td th:text="${publi.texto}"></td>
				<td th:text="${publi.curtida}"></td>
				<td>
					<div th:if="${publi.user.id == usuario.id}">
			     		<a th:href="@{/editarPublicacao(id=${publi.id})}">Editar</a>
			     		<a th:href="@{/removerPublicacao(id=${publi.id})}">Remover</a>
			     	</div>
			     	<div th:if="${publi.user.id != usuario.id}">	
			     	<p>Você não tem permissão para acessar as ações de outro usuário!</p>
			     	</div>		 	
			 	</td>
		  	</tr>
			</table>
        
    </main>
    <script type="text/javascript" src="/js/mobile-navbar.js"></script>
</body>
</html>