<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Esqueceu a senha</title>
<link rel="stylesheet" type="text/css" href="/css/senha.css">
</head>
<body>
	<div class="main-recuperar">
		<div class="left-recuperar">
			<h1>Recupere sua senha</h1>
            <img src="/svg/forgot-password-animate.svg" class="left-recuperar-image" alt="Acessando Rede">
		</div>
		<div class="right-recuperar">
			<div class="card-recuperar">
				<h1>RECUPERAR</h1>
				<div class="textfield">
					<label for="email">Email</label>
					<input type="email" name="email" placeholder="Email">
				</div>
				<form action="solicitarSenha" id="btn-form">
                	<input type="submit" class="btn-recuperar" value="Solicitar">
				</form>
			</div>
		</div>
	</div>
</body>
</html>